*,
*::before,
*::after {
  box-sizing: border-box;
}

$font-header: 'Fuzzy Bubbles', cursive;

body {
  background: url('../images/background.jpeg') no-repeat center center fixed;
  font-family: $font-header;
  font-size: 28px;
  color: #fcfcfc;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 0 4px 0 #373329,
    0 8px 0 #fede17,
    0 8px 8px #fcfcfc;
}

#container {
  display: none;
}

.img-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
.move:hover {
  animation: 0.45s shake 3;
}
@keyframes shake {
  0% {
      transform: translateY(0px);
  }
  100% {
      transform: translateY(-50px);
  }
}
/* BUTTONS */

.buttons >* {
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  cursor: pointer;
  color: transparent;
  height: 150px;
  width: 150px;
}

//rock
#rock {
  background: url(../images/rock/rock_button.png);
}
#rock:hover {
  transform: translateY(-1rem);
}
#rock:focus {
  outline: none;
}

//paper
#paper {
  background: url(../images/paper/paper_button.png);
}
#paper:hover {
  transform: translateY(-1rem);
}
#paper:focus {
  outline: none;
}

//scissors
#scissors {
  background: url(../images/scissors/scissors_button.png);
}
#scissors:hover {
  transform: translateY(-1rem);
}
#scissors:focus {
  outline: none;
}

/* INTRO */

.intro {
  position: relative;
  top: 30px;
}

.start-btn {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 15px solid #fcfcfc;
  font-size: 82px;
  background: #fc271f;
  cursor: pointer;
  font-family: $font-header;
  color: #fcfcfc;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% { background-color:#fc271f;}
  100% { background-color: #373329;}
}

.start-btn:hover {
  color: #fc271f;
  transform: translateY(-1rem);
}

#messages {
  margin-top: 110px;
}
